[submodule "cs497-project"]
	path = lib/MemoryViewSwitcher
	url = git@github.com:aarcc530/cs497-project
[submodule "apps/kaleidoscope-pta"]
	path = apps/kaleidoscope-pta
	url = git@github.com:taptipalit/kaleidoscope-pta.git
